
html, body, h1, h2, h3, a, p, ul, li, div, section, article, form, label, header{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.4;
}

* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    box-sizing: border-box;
    font-weight: normal;
}

article, footer, header, section {
    display: block;
}

ul {
    list-style: none;
}
